
    /* ========== MOBILE =========== */
    /* iPhone 8 and lower */
    @media screen and (orientation: landscape) and (max-device-width: 736px){
        .clear-board,.randomize-board,.display-modal-btn{
            position:absolute;
            height:15%;
            width:4%;
            /* font-size:3.75vmin; */
            background-color:rgb(80, 124, 168);
            /* border:none;
            border-radius:10px;
            color:white;
            text-align:center; */
            left:.7%;
        }

        .random3{
            position:absolute;
            height: 37.5%;
            width: 75%;
        }

        .display-modal-btn{
            top:4%;
        }
        .clear-board{
            top:22.5%;
        }
        .randomize-board{
            top: 41%;
        }

        .clear-board > i, .randomize-board > i, .display-modal-btn > i{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .randomize-board:hover i,.clear-board:hover i,.display-modal-btn:hover i, .random3 i {
            animation: barrelRoll2 .5s;
        }
    }

    /* iPhone X */
    @media screen and (orientation: landscape) and (min-device-width: 737px) and (max-device-width: 812px){
        .clear-board > i, .randomize-board > i, .display-modal-btn > i{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .clear-board,.randomize-board,.display-modal-btn{
            height:15%;
            width:4.5%;
            left: .6%;
        }

        .display-modal-btn{
            top:4%;
        }
        .clear-board{
            top:22.5%;
        }
        .randomize-board{
            top: 41%;
        }

        .randomize-board:hover i,.clear-board:hover i,.display-modal-btn:hover i {
            animation: barrelRoll2 .5s;
        }

    }


    /* ========== TABLET =========== */
    @media screen and (min-width: 600px){

    }

    /* ========== DESKTOP =========== */
    @media screen and (min-width: 1200px){

    }
