body{
    margin:0;
    font-size:0;
    user-select: none;
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    font-family: 'Walter Turncoat', sans-serif;
    background-image:url('assets/images/chalkboard.jpg');
}
.landing-page{
    height:100vh;
    width:100vw;
    position:fixed;
    z-index: 1;
    background-repeat: no-repeat;
    background-size:cover;
    font-size:5rem;
    text-align:center;
    background-image:url('assets/images/chalkboard.jpg');
}
.landing-page>button{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size:3rem;
    font-family: 'Walter Turncoat', sans-serif;
    border-radius:20px;
    border:none;
    color:white;
    background-color:rgba(25,25,25,.3);
}

.landing-page>button:hover{
    cursor: pointer;
    background-color: rgba(25,25,25,.5);
    border:1px solid lightgoldenrodyellow;
}
.hero-page{
    height:100vh;
    width:100vw;
}

.top-half{
    height:60%;
    display:flex;
}
.spitboard-container{
    width:60%;
    height:100%;
}
.spit-board{
    position:relative;
    left:5%;
    top:5%;
    height:90%;
    width:90%;
    border:1px solid black;
    background-image:url("assets/images/bulletin-board-325721_960_720.jpg");
    background-size:cover;
    background-position:center;
}
.spit-board-word{
    color: white;
    background-color: rgba(25,25,25,.5);
    height: 25%;
    width: 20%;
    font-size: 1rem;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transform: scale(.9);
    transition: all .15s ease-in-out;
    cursor: pointer;
}
.spit-board-word:hover {
    transform: scale(1);

}
.wordInner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}
.wordCloseButton {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: white;
    color: black;
    border-radius: 100%;
    padding: 5px;
    opacity: 0;
    transition: all .15s ease-in-out;
}
.wordCloseButton:hover {
    background-color: darkred;
    color: white;
    cursor: default;
}
.spit-board-word:hover .wordCloseButton {
    opacity: 1;
}
.idea-container{
    width:40%;
    height:100%;
    vertical-align:top;
    display:flex;
}
.ideas{
    width: 50%;
    height:100%;
    vertical-align: top;
    padding-right: 8%;
}
.buttons {
    margin: 10px auto;;
    height: 10%;
    position: relative;
}
.buttons > button{
    height:100%;
    width: 35%;
    margin: auto 10px;
    position:absolute;
    border-radius:10px;
    border: none;
    cursor: pointer;
    line-height: 100%;
    transition: all .10s linear;
}
.buttons > button:hover {
    background-color: black;
    color: white;
}
.random-fill-button {
    left: 8%
}
.word-generator-button {
    right: 8%
}
.ideaCard{
    height:16%;
    display:flex;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    font-size:1.5rem;
    background-color: rgba(25,25,25,.3);
    border-radius: 10px;
    transform: scale(.9);
    transition: all .25s ease-in-out;
    cursor: pointer;
}
.ideaCard:hover{
    transform: scale(1);
}
.relevant{
    display:flex;
    height:100%;
    width:50%;
    flex-direction: column;
    overflow-y: scroll;
    font-size:1rem;
    align-items:center;
    box-sizing:border-box;
    border:2px solid lightgoldenrodyellow;
}
.title{
    color:lightgoldenrodyellow;
    font-size:1em;
    cursor: pointer;
}
.syn>div,.adj>div{
    display:flex;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    font-size:1.25rem;
    text-align:center;
}
.syn,.adj{
    width:100%;
}

.bottom-half{
    height:40%;
    display:flex;
}

.images-container{
    position:relative;
    height:100%;
    width:33.33%;
    border:1px solid black;
    box-sizing:border-box;
    vertical-align:top;
    font-size:1.5rem;
    cursor: pointer;
}
.images-container>.image{
    height:80%;
    width:100%;
    background-size:cover;
    background-position:center;
}
.images-container>.word{
    height:20%;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: rgba(25,25,25,.3);
}

.images-container:hover .wordCloseButton {
    opacity: 1;
}

.app-container{
    height:95%;
    width:40%;
    font-size:3vmin;
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    top:5%;
    font-family: 'Walter Turncoat', sans-serif;
    box-sizing: border-box;
    position: relative;
}
.apps{
    height:60%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;

}
.names{
    height:30%;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.app{
    width:33.33%;
    height:100%;
}
.app-title{
    height:35%;
    width:28%;
    margin:0 4%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.app>a>img{
    height:8vw;
    width:8vw;
    border-radius:20%;
    border:2px solid white;
    position:relative;
    top:15%;
}

.image-random-div {
    width: 5%;
    height: 100%;
    position: relative;
}

.random3 {
    height:40%;
    width: 80%;
    /*     margin: auto 10px; */
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    border: none;
    cursor: pointer;
    /*     line-height: 100%; */
    word-wrap: break-word;
    background-color: green;
    color: white;
    transition: all .15s ease-in-out;
    font-size: 2rem
}
.random3:hover {
    background-color: black;
    color: white;
}
.random3:hover i {
    animation: barrelRoll .5s ;
}
.image-wrapper{
    width: 55%;
    height: 100%;
    display: flex;
    position: relative;
}

.selected{
    border: 10px solid lightgoldenrodyellow;
}

.instructions{
    position:absolute;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-instructions{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
}

.flipped{
    transform:rotate(180deg);
}

@keyframes spinn {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(359deg)}
}

@keyframes barrelRoll {
    0% {transform: rotateX(0deg)}
    100% {transform: rotateX(360deg)}
}

.spinn {
    animation: spinn .4s infinite linear;
}