body{
    margin:0;
    font-size:0;
    user-select: none;
    background-repeat: no-repeat;
    background-size:cover;
    color:rgb(80, 124, 168);
    font-family: 'Walter Turncoat', sans-serif;
    background-image:url('./assets/images/background.png');
}
button{
    cursor:pointer;
}
.portrait-warning{
    display: none;
    height:100vh;
    width:100vw;
    position:fixed;
    z-index: 2;
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    color:#2C3E50;
    background-image:url('./assets/images/background.png');
}

.warning-text{
    font-size:5vh;
    position: relative;
    top: 8%;
    padding: 0 20px;
}

.warning-img{
    position: absolute;
    height: 40vh;
    width: 40vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.warning-img img{
    height: 100%;
}

.landing-page{
    height:100vh;
    width:100vw;
    position:fixed;
    z-index: 1;
    background-repeat: no-repeat;
    background-size:cover;
    font-size:5rem;
    text-align:center;
    color:#2C3E50;
    background-image:url('./assets/images/background.png');
}
.landing-page>button{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size:3rem;
    font-family: 'Walter Turncoat', sans-serif;
    border-radius:10px;
    border:none;
    color:white;
    background-color:rgba(25,25,25,.3);
}

.landing-page>button:hover{
    cursor: pointer;
    background-color: rgba(25,25,25,.5);
    border:1px solid lightgoldenrodyellow;
}
.hero-page{
    height:100vh;
    width:100vw;
}

.top-half{
    height:60%;
    display:flex;
}
.spitboard-container{
    width:60%;
    height:100%;
}
.clear-board,.randomize-board,.display-modal-btn{
    position:absolute;
    height:2rem;
    width:2rem;
    font-size:1.25rem;
    background-color:rgb(80, 124, 168);
    border:none;
    border-radius:10px;
    color:white;
    text-align:center;
    left:1%;

}
.display-modal-btn{
    top:24.5%;
}
.clear-board{
    top:31%;
}
.randomize-board{
    top: 37.5%;
}
.spit-board{
    position:relative;
    left:8%;
    top:5%;
    height:90%;
    width:90%;
    background-size:cover;
    background-position:center;
}
.spit-board-word{
    color: white;
    background-color: rgba(25,25,25,.5);
    height: 25%;
    width: 20%;
    font-size: 1.25rem;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transform: scale(.9);
    transition: transform .15s ease-in-out;
    cursor: pointer;
    border-radius:10px;
}
.spit-board-word:hover {
    transform: scale(1);

}
.wordInner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wordCloseButton {
    height: 1.5vmin;
    width: 1.5vmin;
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    border-radius: 100%;
    padding: 5px;
    opacity: 0;
    transition: all .15s ease-in-out;
}
.wordCloseButton:hover {
    color:rgb(226, 161, 161);
    cursor: default;
    cursor:pointer;
}
.wordCloseText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spit-board-word:hover .wordCloseButton {
    opacity: 1;
}

.image-refresh-button{
    font-size: 1rem;
    text-align: center;
    height: 4.5vh;
    width: 4.5vh;
    position: absolute;
    right: 0;
    margin:0 .25rem;
    top: 58%;
    border-radius: 5px;
    color: white;
    background-color: rgb(80, 124, 168);
    border: .5px solid white;
    transition: all .15s ease-in-out;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-refresh-button:hover{
    background-color: black;
}

.idea-container{
    width:40%;
    height:100%;
    vertical-align:top;
    display:flex;
}
.ideas{
    width: 50%;
    height:100%;
    vertical-align: top;
    padding-right:5%;
}
.buttons {
    margin: 10px auto;;
    height: 10%;
    position: relative;
}
.buttons > button{
    height:100%;
    width: 35%;
    margin: auto 10px;
    position:absolute;
    border-radius:10px;
    color:white;
    border: none;
    cursor: pointer;
    line-height: 100%;
    transition: all .10s linear;
    background-color:rgb(80, 124, 168);
}
.buttons > button:hover {
    background-color: black;
    color: white;
}
.word-generator-button {
    left: calc(32.5% - 10px);
}
.ideaCard{
    height:16%;
    display:flex;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    font-size:1.25rem;
    background-color: rgba(34, 76, 112, 0.5);
    border-radius: 10px;
    transform: scale(.9);
    transition: all .25s ease-in-out;
    cursor: pointer;
    color:lightgoldenrodyellow;
}
.ideaCard:hover{
    transform: scale(1);
}
.relevant{
    display:flex;
    height:100%;
    width:50%;
    flex-direction: column;
    overflow-y: scroll;
    align-items:center;
    box-sizing:border-box;
    background-color:rgba(241, 188, 163, 0.473);
    color:rgb(112, 112, 109);
    border-radius:10px;
    border:1px solid black;
    overflow-x:hidden;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.title{
    color:rgb(80, 124, 168);
    cursor: pointer;
}
.syn>div,.adj>div{
    display:flex;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    font-size:1.25rem;
    text-align:center;
}
.syn,.adj{
    width:100%;
}
.synonyms,.adjectives{
    transform:scale(.9);
}
.synonyms:hover,.adjectives:hover{
    transform:scale(1);
    cursor: pointer;
}

.bottom-half{
    height:40%;
    display:flex;
}

.images-container{
    position:relative;
    height:100%;
    width:33.33%;
    border:1px solid black;
    box-sizing:border-box;
    vertical-align:top;
    font-size:1.75rem;
    cursor: pointer;
    border-radius:10px;
    overflow:hidden;
    transition: all .25s ease-in-out;
    margin:0 .5rem;
    padding-bottom:.5rem;
}
.images-container>.image{
    height:80%;
    width:100%;
    background-size:cover;
    background-position:center;
}
.images-container>.word{
    height:20%;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: rgba(95, 87, 87, 0);
}

.imgCloseButton {
    height: 2.5vmin;
    width: 2.5vmin;
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    border-radius: 50%;
    padding: 5px;
    opacity: 0;
    transition: all .15s ease-in-out;
    background-color:rgba(138, 131, 131, 0.596);
}
.imgCloseButton:hover {
    color: rgb(226, 161, 161);
    cursor:pointer;
}
.imgCloseText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
}

.images-container:hover .imgCloseButton,
.images-container:hover .image-refresh-button {
    opacity: 1;
}

.app-container{
    height:95%;
    width:40%;
    font-size:1.25rem;
    background-repeat: no-repeat;
    background-size:cover;
    top:5%;
    font-family: 'Walter Turncoat', sans-serif;
    box-sizing: border-box;
    position: relative;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.apps{
    height:100%;
    width:80%;
    position:relative;
    display:flex;
    white-space: nowrap;
    justify-content: center;
}
.arrow{
    width:10%;
    height: 100%;
    position: relative;
    display:hidden;
}
.app{
    width: 100%;
    max-width: 33.33%;
    height:100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.app-title{
    height:100%;
    width:100%;
    height:20%;
    margin:0 4%;
    text-overflow: ellipsis;
    overflow: hidden;
    color:rgb(51, 83, 116);
}
.app>a>img{
    height:8vw;
    width:8vw;
    border-radius:30px;
    position:relative;
    top:15%;
}

.image-random-div {
    width: 5%;
    height: 100%;
    position: relative;
}

.random3 {
    height:3rem;
    width:3rem;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    border: none;
    cursor: pointer;
    word-wrap: break-word;
    background-color: rgb(80, 124, 168);
    color: white;
    transition: all .15s ease-in-out;
    font-size: 1.5rem;
}
.random3:hover,.randomize-board:hover,.clear-board:hover,.display-modal-btn:hover,#scroll-left:hover, #scroll-right:hover{
    background-color: black;
    color: white;
}
.random3:hover i, .randomize-board:hover i,.clear-board:hover i,.display-modal-btn:hover i, #scroll-left:hover i, #scroll-right:hover i{
    animation: barrelRoll .5s ;
}
.image-wrapper{
    width: 55%;
    height: 100%;
    display: flex;
    position: relative;
    box-sizing:border-box;
    padding:1rem 0;
}

.selected{
    border: 8px solid rgb(80, 124, 168);
}

.instructions{
    position:absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-instructions{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
}

.flipped{
    transform:rotate(180deg);
}

@keyframes spinn {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(359deg)}
}

@keyframes barrelRoll {
    0% {transform: rotateX(0deg)}
    100% {transform: rotateX(360deg)}
}

@keyframes barrelRoll2 {
    0% {transform: rotateX(0deg) translate(-50%, -50%)}
    100% {transform: rotateX(360deg) translate(-50%, -50%)}
}

.spinn {
    animation: spinn .4s infinite linear;
}

/* MODAL  */  
.add-button {
    width: 100%;
    margin-top: 5%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color:rgb(80, 124, 168);
    color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.add-button:hover {
    background-color: black;
}

.modal, .clear-board-modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    z-index: 1;
}

.modal_inner, .clear-board-content {
    font-size: 2rem;
    max-width: 20rem;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s;
    border-radius: 10px;
    /* border-radius: 5%; */
}

.modal_inner > p{
    margin: 0;
}
.modal_inner > input{
    width: 90%;
    padding: .5rem;
}
.modal.-open, .clear-board-modal.-open {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal.-open .modal_inner, .clear-board-modal.-open .clear-board-content {
    opacity: 1;
    transform: scale(1);
}
.clear-board-modal{
    text-align:center;
}

#scroll-left, #scroll-right{
    border:none;
    background-color:transparent;
    font-size: 1.5rem;
    background-color:rgb(80, 124, 168);
    border-radius:10px;
    color:white;
}

.fa-snowplow{
    font-size:7rem;
}
.yes-clear,.no-clear{
    border:none;
    font-size:1.5rem;
    background-color:transparent;
}
.yes-clear{
    color:green;
}
.no-clear{
    color:red;
}

.yes-clear:hover,.no-clear:hover{
    transform:scale(1.2);
}

@media screen and (orientation: portrait) {
    .portrait-warning {
        display: initial;
    }
}